html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #25171A;
    font-family: 'Poppins', sans-serif;
}

.navigation{
    background-color: #FFF0F5;
    color: black;
    height: 70px;
    font-weight: 400;

    animation-name: navegacao;
    animation-duration: 2s; 
}

.navigation ul{
    margin: 0;
    padding-left: 0;
    list-style: none;  
    text-align: right;
    height: 70px;
}

.navigation a{
    color: #000000;
    text-decoration: none;
}

.navigation a:hover{
    color: #A020F0; 
}

.navigation li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 70px;
    font-size: 16px;
}

.navigation li.threeline-icon{
   display: none;

}

.capa{
    color: #F7F4F3;
}

.capa span{
    color: #F77F00;
    display: block;
}

.capa div{
    display: inline-block;
    height: 650px;
}
     
.profile-pic{
    width: 40%;
    text-align: center;

    animation-name: profile-capa;
    animation-duration: 4s; 
}

.profile-pic img{
    width: 350px;
    border-radius: 350px;
    margin-top: 100px;
}

.profile-title{
    vertical-align: top;
    width: 59%;
    line-height: 55px;

    animation-name: titulo-capa;
    animation-duration: 3s; 
 
}

.profile-title h1{
    text-transform: uppercase;
    font-size: 58px;
    margin-top: 200px;
    font-weight: 400;
}

.profile-title h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: -19px;
    color: #a07788;
}






.main{

    padding: 65px 180px 80px 80px ;  

    animation-name: conteudo;
    animation-duration: 2s;
}

.cv-pic{
    float:right;
    width: 300px;
    margin: 30px;
}

.main h1{
    color: white;
    font-weight: normal;
}

.main h2{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 50px;
}

.main h3{
    text-transform: uppercase;
    color: violet;
    font-size: 12px;
}

.main p{
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    text-align: justify;
}

.caminho {
    list-style: none;
    padding-left: 0;
    color: grey;
}

.caminho li{
    display: inline-block;
}

.caminho a{
    color: grey;
}

.social-img{
    width: 50px;
}

.miniatura{
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;
}

.miniatura a{
    text-decoration: none;
}

.black-box{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
    transition: 1s;
}

.black-box:hover{
    opacity: 0.8;
    transition: 1s;
}

.blackbox-text{
    text-align: center;
}

.blackbox-text h1{
    font-size: 16px;
    color: violet;
    text-transform: uppercase;
    margin-top:0px;
}

.blackbox-text h2{
    font-weight: 100;
    text-transform: none;
    margin: 0;
}

.foto-trabalhos{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.back-link{
    color: orange;  
}

@keyframes profile-capa{
    0% {opacity: 0; transform: translate(0px,50px);};
    100%{opacity: 1; transform: translate(0px,0);};
}

@keyframes titulo-capa{
    0% {opacity: 0; transform: translate(200px,0px);};
    100%{opacity: 1; transform: translate(0px,0);};
}

@keyframes conteudo{
    0% {opacity: 0; transform: translate(-20px,0px);};
    100%{opacity: 1; transform: translate(0px,0);};
}


@keyframes navegacao{
    0% {opacity:0; };
    50%{opacity:0;}
    100%{opacity:1;};
}