html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #19323C;
}

.navigation{
    background-color: #F3F7F0;
    color: black;
    height: 70px;
}

.navigation ul{
    margin: 0;
    padding-left: 0;
    list-style: none;  
    text-align: right;
    height: 70px;
}

.navigation li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 70px;
}

.capa{
    color: white;
}

.capa span{
    color: green;
}